.dashboard {
  display: flex;
  gap: 25px;
}
.group-column {
  margin: 20px;
  /* margin-left: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  min-width: 200px;
}

.groupStatus {
  display: flex;
  gap: 15px;
  align-items: center;
}

.groupHeading {
  font-size: 18px;
  font-weight: 500;
}

.groupCount {
  color: grey;
  font-size: 16px;
}

.groupIcon {
  display: flex;
  gap: 5px;
}
.groupStatus > img {
  height: 21px;
  width: 21px;
  border-radius: 50%;
}
